

#section-portfolio {
  background: url('./img/SW2.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

}

#section-about {
  background: url('./img/SW.jpg');
  background-size: cover;

}

#section-portfolio {
  background: url('./img/SW2.jpg');
  background-size: cover;

}

#section-contact {
  background: url('./img/SW3.jpg');
  background-size: cover;
}

#section-other {
  background: url('./img/boat.jpg');
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.header {
  position:fixed;
  height: 50px;
  width: 100%;
  background: #ccc;
  z-index:99999;
  text-align:right;
  font-size: xx-large;
  color: #000;
  top:0;
  border: 1px solid green;
}

.container{
  display:flex;
}

.link{
  flex:1;
}