a{
  color: white;
  text-decoration: none;
}
h2{
  font-family: Impact;
  text-align: center;
  color: white;
  font-size: 3em;
}

h3 {
  font-size: 5em;
  font-family: Impact;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section-portfolio {
  background: url('./img/SW2.jpg') ;
  background-size: cover;
}

#section-about {
  background: url('./img/SW.jpg');
  background-size: cover;

}

#section-portfolio {
  background: url('./img/SW2.jpg');
  background-size: cover;

}

#section-contact {
  background: url('./img/SW3.jpg');
  background-size: cover;
}

#section-other {
  background: url('./img/boat.jpg');
  background-size: cover;
}


.App-link {
  color: #61dafb;
}

.header {
  position:fixed;
  height: 50px;
  width: 50%;
  right: 0px;
  z-index:99999;
  text-align:center;
  font-size: xx-large;
  font-family: Impact;
  color: white;
  top:0;
}

.container-navi{
  display:flex;  
}

.container-navi .link{
  flex:1;
}


.link{
  flex:1;

}

.footer {
  position:fixed;
  height: 50px;
  width: 100%;
  z-index:99999;
  text-align:center;
  font-size: xx-large;
  color: white;
  bottom:0;
  
}

.container-icons{
 display:flex;
}
.container-icons .logo{
  padding-left: 30px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  #section-portfolio {
    background: url('./img/SW2_2.jpg') ;
    background-size: cover;
  }

  #section-about {
    background: url('./img/SW_2.jpg');
    background-size: cover;
  }

  #section-contact {
    background: url('./img/SW3_2.jpg') ;
    background-size: cover;
  }

  #section-other {
    background: url('./img/boat_2.jpg') ;
    background-size: cover;
  }
  .header{
    font-size: large;
  }
  
}
