#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: white;
  
}
.fp-controlArrow.fp-next {
    right: 40px !important;
    border-color: transparent transparent transparent blue;
}

